@import "../common/colors.scss";

.movie-details {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 50px;

  h1 {
    color: $font-primary;
    margin: 10px 0;
    font-size: 2.5rem;
  }

  .plot {
    color: $font-primary;
  }

  .info {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 20px 0;
    gap: 20px;
  }

  .details {
    color: $font-primary;
  }

  .details-value {
    color: $font-secondary;
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}

.ratings {
  display: flex;
  gap: 30px;
  margin: 10px 0;
  color: $font-secondary;

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 10px;
  }
}

.movie-right {
  img {
    height: 100%;
    width: 100%;
  }
}
