@import "../common/colors.scss";

.movie-wrapper {
  margin: 20px 0;
  h2 {
    color: $font-secondary;
    font-weight: 400;
    margin: 20px 50px;
    font-size: 2rem;
  }
}
.movie-container {
  margin: 10px 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-template-rows: 150px 150px 150px 150px;
}
